{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@": "./components",
                    "utils": "./utils"
                }
            }
        ]
    ]
}