nav.headerNav {
  >ul.links {
    padding-left: 0;
    list-style: none;

    >li {
      display: inline-block;
      padding: 0 1.5rem;

      >a {
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        padding: 0.5rem 0;
        position: relative;
        cursor: pointer;

        &.active {
          color: $linkActive;
        }
        &:hover {
          &:not(.active) {
            color: $linkActive;
            animation: hoverColor .1s linear;
          }
        }
      }
    }
  }

  &.inverse {
    >ul.links {
      >li {
        >a {
          color: $text;

          &.active {
            color: $linkActive;
          }

          &:hover {
            &:not(.active) {
              color: $linkActive;
              animation: hoverColorInverse .1s linear;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 5px #b6b6b6;
    background: white;
    height: 100vh;
    transition: .15s linear all;

    &.show-mobile-menu {
      width: 50%;
      transition: .15s linear all;
    }

    >ul.links {
      margin-top: 50px;

      >li {
        display: block;
        margin-bottom: 1.5rem;

        >a {
          color: $gray;
          font-size: 1.2em;

          &:hover {
            &:not(.active) {
              color: $linkActive;
              animation: hoverColorInverse .1s linear;
            }
          }
        }
      }
    }

    &.inverse {
      >.menu-toggler {
        color: $gray;
      }
    }
  }
}

@keyframes hoverColor {
  from {
    color: white;
  } to {
    color: $linkActive;
  }
}

@keyframes hoverColorInverse {
  from {
    color: gray;
  } to {
    color: $linkActive;
  }
}

@keyframes borderGrow {
  from {
    width: 0;
  } to {
    width: 100%;
  }
}