section.articles {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4rem 0rem;

  >.articlesPreview {
    padding: 1rem 9rem;
    display: flex;

    >.articlePreviewCard {
      width: 33.33%;
      padding: 0 1rem;
    }
  }

  @media screen and (max-width: 992px) {
    >.articlesPreview {
      padding: 1rem;
      flex-direction: column;

      >.articlePreviewCard {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}