section.gallery {
  background: white;
  margin-top: 1rem;

  >h1 {
    padding: 2rem 0;
  }

  >.instagramGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}