$pink: #f67280;
$lightPink: #fea8b1;
$gray: #717171;
$lightGray: #e1e1e1;
$boxShadow: #e4e4e4;
$black: #383838;
$darkerBlack: #272727;
$lightBlue: #6b6bf5;
$lightOrange: #fbc177;
$link: #3b3f3d;

$linkActive: $pink;
$text: $gray;