@import './theme.scss';

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::-webkit-scrollbar { 
  display: none; 
}

body {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

@font-face {
  font-family: ProximaNova;
  src: url('/static/fonts/Proxima-Nova-Soft-Regular/Proxima-Nova-Soft-Regular.ttf')
}

@font-face {
  font-family: ProximaNovaLight;
  src: url('/static/fonts/proxima-nova-condensed-light.otf');
}

@font-face {
  font-family: ProximaNovaSemiBold;
  src: url('/static/fonts/proxima-nova-condensed-semibold.otf');
}

@font-face {
  font-family: DancingScript;
  src: url('/static/fonts/DancingScript/DancingScript-Regular.ttf');
}

* {
  font-family: ProximaNova, sans-serif;
  box-sizing: border-box;
}