input.input {
  border-radius: 4px;
  padding: 0.7rem 1rem;
  border: 0;
  width: 100%;
  color: #717171;
  font-size: 1em;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    border: 1px solid #f67280;
  }

  &.large {
    padding: 0.9rem 1.2rem;
    font-size: 1.2em;
  }
}

.textCenter {
  text-align: center;
}

.button {
  border-radius: 2rem;
  border: 1px solid $lightGray;
  padding: .8rem 2rem;
  background-color: white;
  color: $gray;
  cursor: pointer;

  &.large {
    font-size: 1.1em;
    padding: 1rem 3rem;
  }

  &.primary {
    background-color: $pink;
    color: white;
    border: 0;
  }
}

.sectionTitle {
  font-size: 1.3em;
  text-align: center;
  font-family: ProximaNovaSemiBold;
  color: #272626;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.sectionDescription {
  font-size: 1.1em;
  padding: 1.5rem 10rem;
  text-align: center;
  color: #717171;
  font-family: ProximaNovaLight;
  font-weight: 300;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  >.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    position: relative;

    &.half {
      width: 50%;
    }

    &.is2 {
      width: 16.66%;
    }

    &.is3 {
      width: 25%;
    }

    &.is4 {
      width: 33.33%;
    }

    &.is5 {
      width: 41.66%;
    }

    &.is6 {
      width: 50%;
    }

    &.is7 {
      width: 57.99%;
    }

    &.is8 {
      width: 66.66%;
    }

    &.is9 {
      width: 75%;
    }

    &.is10 {
      width: 83.33%;
    }

    &.is11 {
      width: 91.66%;
    }

    &.is12 {
      width: 100%;
    }

    @media screen and (max-width: 992px) {
      width: 100%;

      &.is1,
      &.is2,
      &.is3,
      &.is4,
      &.is5,
      &.is6,
      &.is7,
      &.is8,
      &.is9,
      &.is10,
      &.is11,
      &.is12 {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sectionDescription {
    padding: 1.5rem 1rem;
  }
}