input.input {
  border-radius: 4px;
  padding: 0.7rem 1rem;
  border: 0;
  width: 100%;
  color: #717171;
  font-size: 1em;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    border: 1px solid #f67280;
  }

  &.large {
    padding: 0.9rem 1.2rem;
    font-size: 1.2em;
  }
}

.textCenter {
  text-align: center;
}

.button {
  border-radius: 2rem;
  border: 1px solid $lightGray;
  padding: .8rem 2rem;
  background-color: white;
  color: $gray;
  cursor: pointer;

  &.large {
    font-size: 1.1em;
    padding: 1rem 3rem;
  }

  &.primary {
    background-color: $pink;
    color: white;
    border: 0;
  }
}

.sectionTitle {
  font-size: 1.3em;
  text-align: center;
  font-family: ProximaNovaSemiBold;
  color: #272626;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.sectionDescription {
  font-size: 1.1em;
  padding: 1.5rem 10rem;
  text-align: center;
  color: #717171;
  font-family: ProximaNovaLight;
  font-weight: 300;
}