section.home {
  height: 100vh;
  background-image: url('/static/images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(108, 91, 123, 0.8) 0%, rgba(53, 92, 125, 0.8) 100%);
  }

  * {
    position: relative;
    color: white;
  }

  >section.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.title {
      font-size: 2em;
      font-family: DancingScript;
    }
  }

  >.body {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    padding: 0 15rem;
    text-align: center;

    >.description {
      position: relative;
      font-size: 3em;
      font-family: ProximaNovaLight;
      animation: fadeFromAboveWithoutOpacity 1s linear;
    }
    >.description-subtitle {
      font-size: 1.1em;
      margin-top: 3rem;
      opacity: 0;
      animation: fadeFromAbove 1s forwards;
      animation-delay: 1.1s;
    }
  }

  >.footer {
    text-align: center;
    display: flex;
    justify-content: center;

    >button {
      cursor: pointer;
      background: transparent;
      font-size: 2em;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      animation: ghost 2s linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes fadeFromAboveWithoutOpacity {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes fadeFromAbove {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes ghost {
  0% {
    transform: translate(0, 7%);
  }
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -7%);
  }
  75% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 7%);
  }
}